{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <nav class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 pt-5">
                    <div class="d-flex w-100 justify-content-center align-items-center">
                        {% if imagen_url %}
                        <img src="{{ imagen_url }}" alt="Imagen de Usuario" class="bg-white " style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%; ">
                        {% else %}
                        <img src="{% static 'img/default.png' %}" alt="Imagen de Usuario" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                        {% endif %}
                    </div>
                    <br>
                    <br>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'listar_usuarios' %}" class="nav-link">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'cerrar_sesion' %}" class="nav-link">Cerrar Sesión</a>
                        </li>
                    </ul>
                </nav>
            </div>            
            <main class="col py-3">
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>
</body>
<script>
fetch('http://127.0.0.1:8000/sesiones/user')
  .then(response => response.json())
  .then(jsonData => {
    console.log("Registro de sessiones:",jsonData);
  })
  .catch(error => console.error('Error:', error));
</script>
</html>
