{% extends 'base.html' %}

{% block title %} Crea Usuario {% endblock %} 

{% block content %}     
    <h1>Subir usuarios desde archivo Excel</h1>
    <div class="card p-3 ">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-success ">Subir archivo</button>
        </form>
    </div>
    {% for message in messages %}
        <div>{{ message }}</div>
        <a href="{% url 'listar_usuarios' %}">Volver atras</a>
    {% endfor %}

{% endblock %}